{% extends 'FacultyPartials/layout.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block HeaderCss %}
<link href="{%static 'assets/libs/admin-resources/rwd-table/rwd-table.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock HeaderCss %}

{% block BottomJs %}

{% endblock BottomJs %}


{% block breadcrumb %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Verify Excel</a></h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Subadmin</a></li>
                    <li class="breadcrumb-item active">All student</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock breadcrumb %}


{% block body %}
<div class="row">


  <div class="row">
      <div class="col-lg-2">
          <div class="mb-3 valid">
              <label class="form-label" for="year">Sem</label>
              <input type="text" name="sem" value="{{data.sem}}" disabled class="form-control" id="sem">
          </div>
      </div>

      <div class="col-lg-2">
          <div class="mb-3 valid">
              <label class="form-label" for="branch">Batch</label>
              <input type="text" name="batch" value="{{data.batch}}" disabled class="form-control" id="batch">
          </div>
      </div>

      <div class="col-lg-2">
          <div class="mb-3 valid">
              <label class="form-label" for="year">Type</label>
              <input type="text" name="type" value="{{data.type}}" disabled class="form-control" id="type">
          </div>
      </div>

      <div class="col-lg-2">
          <div class="mb-3 valid">
              <label class="form-label" for="course">Season</label>
              <input type="text" name="season" value="{{data.season}}" disabled class="form-control" id="season">
          </div>
      </div>

  </div>


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/Admins-approve-marks/">
                {% csrf_token %}    
                <input type="hidden" name="id" value="{{data.id}}">
                <table id="datatable-buttons" class="mt-lg-5 table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0;margin-top:40px; width: 100%;">
                    <thead class="mt-5">
                    <tr>
                        <th>Seat</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Div</th>
                        <th>Total Marks</th>
                        <th>Obtained Marks</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for enrollment, d in data.student_data.items %}
                            <tr>
                                <td>{{ d.seat }}</td>
                                <td>{{ d.fname }}</td>
                                <td>{{ d.type }}</td>
                                <td>{{ d.div }}</td>
                                <td>{{ d.total }}</td>
                                <td><input type="number" value="{{d.marks}}" name="marks" style="width: 100px;" min="0" max="{{ d.total }}" oninput="validateNumber(this)"></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <center>
                    <input class="btn btn-success" type="submit" value="Approve Marks">
                </center>
            </form>
            </div>
        </div>
    </div>


</div>








<script>
    function validateNumber(input) {
        var min = parseInt(input.min);
        var max = parseInt(input.max);
        var value = parseInt(input.value);

        if (value < min || isNaN(value)) {
            input.value = min;
        } else if (value > max) {
            input.value = max;
        }
    }

</script>


{% endblock body %}