{% extends 'AdminPartials/layout.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block HeaderCss %}
<link href="{%static 'assets/libs/admin-resources/rwd-table/rwd-table.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 

{% endblock HeaderCss %}

{% block BottomJs %}
<script src="{%static 'assets/libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/jszip/jszip.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-select/js/dataTables.select.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/js/pages/datatables.init.js'%}"></script>
{% endblock BottomJs %}


{% block breadcrumb %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Exam >Add New Exam</a></h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                    <li class="breadcrumb-item active">All Exam</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock breadcrumb %}


{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable-buttons" class="mt-lg-5 table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0;margin-top:40px; width: 100%;">
                    <thead class="mt-5">
                    <tr>
                        <th>Batch</th>
                        <th>Type</th>
                        <th>Season</th>
                        <th>Approved</th>
                        <th>Exam Status</th>
                        <th>Action</th>

                        
                    </tr>
                    </thead>


                    <tbody>

                    {% for key, d in data.items %}

                         <tr>
                            <td>{{ d.batch }}</td>
                            <td>{{ d.type }}</td>
                            <td>{{ d.season }}</td>

                            {% if d.is_approved %}
                            <td>Approved</td>
                            {% else %}
                            <td>Pending</td>
                            {% endif %}

                            {% if d.is_completed %}
                            <td>Completed</td>

                            <td>
                                <a class="btn btn-info btn-sm dropdown-toggle" href="/Admins-enter-marks?id={{d.id}}">View</a>
                            </td>

                            {% else %}
                            <td>Pending</td>

                            <td>
                                <a class="btn btn-info btn-sm dropdown-toggle" href="/Admins-view-exam?id={{d.id}}">View</a>
                            </td>
                            {% endif %}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div> 

{% endblock body %}






