<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Marks Option</title>
</head>
<body>


    <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 60%;">

        <div class="card">
            <h5 class="card-header">Generate Seating Arrangenments Excel</h5>
    
    
            <div class="row" style="padding: 30px;">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        
                        <div class="card-body"><br>
                          <h5 class="card-title text-center">{{subject.subjectcode}}</h5><br>
                          <p class="card-text text-center">{{subject.subjectname}}</p><br>
                          <p class="card-text">Semister : {{subject.sem}}</p>
                          <p class="card-text">Institute Code : {{subject.institute_code}}</p>
                          <p class="card-text">Program Code : {{subject.program_code}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {%if subject.theory %}
                          <li class="list-group-item">Theory Marks : {{subject.theory_marks}}</li>
                            {%endif%}
                            {%if subject.practical %}
                          <li class="list-group-item">Practical Marks : {{subject.practical_marks}}</li>
                          {%endif%}
                          {%if subject.mid %}
                          <li class="list-group-item">Mid Marks : {{subject.mid_marks}}</li>
                          {%endif%}

                        </ul>
                        
                      </div>
                </div>

                <div class="col-sm-6">
                {%if subject.theory %}

                  <div class="card">
                    <h5 class="card-header">Theory  {{data.session}}- {{year}}</h5>
                    <div class="card-body">
                      <p class="card-text">Please Upload Seat-Number generated excel For Theory Only</p>
                      <form action="{{ current_path }}/marks/theory/" method="POST">{% csrf_token %}
                      <input type="text" name="subjectcode" value="{{subject.subjectcode}}" hidden>
                      <input type="text" name="year" value="{{year}}" hidden>
                      <input type="text" name="type" value="theory" hidden>
                      <button class="btn btn-primary" id="all">Theory</button>
                      </form>
                    </div>
                  </div><br>
                  {%endif%}


                  {%if subject.practical %}
                  <div class="card">
                    <h5 class="card-header">Practical  {{data.session}}- {{year}}</h5>
                    <div class="card-body">
                      <p class="card-text">Please Upload Seat-Number generated excel For Practical Only</p>
                      <form action="{{ current_path }}/marks/practical/" method="POST">{% csrf_token %}
                      <input type="text" name="subjectcode" value="{{subject.subjectcode}}" hidden>
                      <input type="text" name="year" value="{{year}}" hidden>
                      <input type="text" name="type" value="practical" hidden>
                      <button class="btn btn-primary" id="all">Practical</button>
                      </form>
                    </div>
                  </div><br>
                  {%endif%}


                  {%if subject.mid %}
                  <div class="card">
                    <h5 class="card-header">Mid  {{data.session}}- {{year}}</h5>
                    <div class="card-body">
                      <p class="card-text">Please Upload Seat-Number generated excel For Mid Only</p>
                      <form action="{{ current_path }}/marks/mid/" method="POST">{% csrf_token %}
                      <input type="text" name="subjectcode" value="{{subject.subjectcode}}" hidden>
                      <input type="text" name="year" value="{{year}}" hidden>
                      <input type="text" name="type" value="mid" hidden>
                      <button class="btn btn-primary" id="all">Mid</button>
                      </form>
                    </div>
                  </div><br>
                  {%endif%}


                </div>

          </div>
          </div>
    



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>



</body>
</html>