<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>practical Option</title>
</head>
<body>


<br><br>
    <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 60%;">

        <div class="card">
            <h5 class="card-header">practical</h5>
            <div class="card-body">
            <form action="{{ current_path }}/marks/uploadpractical/" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <!-- <h5 class="card-title">Select Marking Scheme</h5><br> -->
              <input type="text" name="subjectcode" value="{{subject.subjectcode}}" hidden>
              <input type="text" name="year" value="{{year}}" hidden>
              <input type="text" name="type" value="_p" hidden>
                <!-- Passing Mark : <input type="number" name="passing"> -
                <input type="number" name="total" value="{{subject.practical_marks}}" readonly disabled><br><br>  -->
                <h5 class="card-title">Select Student Type : </h5><br>
                <input type="text" name="btype" value="regular">
                 <button type="submit" class="btn btn-primary">Regular</button><br><br>
              </form>

            <!-- <form  method="POST" enctype="multipart/form-data">{% csrf_token %} -->
              <!-- <h5 class="card-title">Select Marking Scheme</h5><br> -->
             
                <!-- Passing Mark : <input type="number" name="passing"> -
                <input type="number" name="total" value="{{subject.practical_marks}}" readonly disabled><br><br>  -->
                <h5 class="card-title">Select Student Type : </h5><br>
                
                <form action="{{ current_path }}/marks/uploadpractical/" method="post" id="midremedial">{% csrf_token %}
                  <input type="text" name="subjectcode" value="{{subject.subjectcode}}" hidden>
                  <input type="text" name="year" value="{{year}}" hidden>
                  <input type="text" name="type" value="_p" hidden>
                <input type="text" name="btype" value="remedial" hidden>
                  <select id="midbatch" name="batch">
                    {%for b in batchlist%}
                    <option value="{{b.0}}">20{{b.0}}</option>
                    {%endfor%}
                  </select>
                 <button type="submit" class="btn btn-primary">Remedial</button><br><br>
              </form>




              <h5 class="card-title">Select Grades Scheme</h5><br>  

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Percentage</th>
                    <th scope="col">Grades</th>
                    <th scope="col">Grade Points</th>
                    <th scope="col">Class</th>
                  </tr>
                </thead>
                <tbody>
                  {%for g in grade%}
                  <tr>
                    <td>{{g.r1}}</td>
                    <td>{{g.r2}}</td>
                    <td>{{g.grade}}</td>
                    <td>{{g.gradepoint}}</td>
                    <td>{{g.gradeclass}}</td>
                  </tr>
                  {%endfor%}

                </tbody>
              </table>
              
              
  
            </div>
          </div>
    
    </div>
    


    <style>
      input[type='number']{
    width: 80px;
}
      input[type='text']{
    width: 80px;
}
    </style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>



</body>
</html>