<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

        
                <li>
                    <a href="{% url 'Subadmin-dashboard' %}" class="waves-effect">
                        <i class="ri-dashboard-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                        <li>
                    <a href="{% url 'Subadmin-profile' %}" class="waves-effect">
                        <i class="ri-user-3-line"></i>
                        <span>Profile</span>
                    </a>
                </li>


                <li> <a href="{% url 'Subadmin-faculty' %}" class=" waves-effect">
                        <i class=" ri-shield-user-line"></i>
                        <span>Faculty</span>
                    </a>
                </li>

                <li> <a href="{% url 'Subadmin-student' %}" class=" waves-effect">
                        <i class="ri-group-2-line"></i>
                        <span>Student</span>
                    </a>
                </li>

                <li> <a href="{% url 'Subadmin-exam' %}" class=" waves-effect">
                        <i class=" ri-newspaper-line"></i>
                        <span>Exam Generation</span>
                    </a>
                </li>

                <li> <a href="" class=" waves-effect">
                        <i class=" ri-folder-download-line"></i>
                        <span>Result Generation</span>
                    </a>
                </li>
                

                
          

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->