<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- <link rel="stylesheet" href="assets/css/style.css"> -->
<title>Add Subject</title>
</head>
<body>
    {% include "header.html" %}   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">


<form>{% csrf_token %} 
  <div class="form-group row">
    <label for="subjectcode" class="col-4 col-form-label">Subject Code</label> 
    <div class="col-8">
      <input id="subjectcode" name="subjectcode" placeholder="e.g. 050020301" type="number" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="subjectname" class="col-4 col-form-label">Subject Name</label> 
    <div class="col-8">
      <input id="subjectname" name="subjectname" placeholder="e.g. Data Structures (DS)" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="sem" class="col-4 col-form-label">Semister</label> 
    <div class="col-8">
      <input id="sem" name="sem" placeholder="e.g. 1" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Checkboxes</label> 
    <div class="col-8">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input" value="theory"> 
        <label for="checkbox_0" class="custom-control-label">Theory</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="checkbox" id="checkbox_1" type="checkbox" class="custom-control-input" value="practical"> 
        <label for="checkbox_1" class="custom-control-label">Practical</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="checkbox" id="checkbox_2" type="checkbox" class="custom-control-input" value="mid"> 
        <label for="checkbox_2" class="custom-control-label">Mid</label>
      </div>
    </div>
  </div>
  <div class="form-group row" id="theory" style="display: none;">
    <label for="theory_marks" class="col-4 col-form-label">Total Theory Marks</label> 
    <div class="col-8">
      <input id="theory_marks" name="theory_marks" placeholder="e.g. 70" type="number" class="form-control"  style="width: 15%;">
    </div>
  </div>
  <div class="form-group row" id="practical" style="display: none;">
    <label for="practical_marks" class="col-4 col-form-label">Total Practical Marks</label> 
    <div class="col-8">
      <input id="practical_marks" name="practical_marks" placeholder="e.g. 50" type="text" class="form-control"  style="width: 15%;">
    </div>
  </div>
  <div class="form-group row" id="mid" style="display: none;">
    <label for="mid_marks" class="col-4 col-form-label">Total Mid Marks</label> 
    <div class="col-8">
      <input id="mid_marks" name="mid_marks" placeholder="e.g. 30" type="text" class="form-control" style="width: 15%;">
    </div>
  </div>
  <div class="form-group row">
    <label for="institute_code" class="col-4 col-form-label">Institute Code</label> 
    <div class="col-8">
      <input id="institute_code" name="institute_code" type="text" class="form-control"  value="{{course.0}}" readonly>
    </div>
  </div> 
  <div class="form-group row">
    <label for="program_code" class="col-4 col-form-label">Program Code</label> 
    <div class="col-8">
      <input id="program_code" name="program_code" type="text" class="form-control"  value="{{course.1}}" readonly>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<script>
theory=document.getElementById("checkbox_0")
practical=document.getElementById("checkbox_1")
mid=document.getElementById("checkbox_2")

    document.getElementById("checkbox_0").addEventListener("click",()=>{
        if(theory.checked==true){
            document.getElementById("theory").style.display="block"
            document.getElementById("theory_marks").setAttribute('required','')

        }else{
            document.getElementById("theory").style.display="none"
            document.getElementById("theory_marks").removeAttribute('required')
        }
    })

    document.getElementById("checkbox_1").addEventListener("click",()=>{

        if(practical.checked==true){
            document.getElementById("practical").style.display="block"
            document.getElementById("practical_marks").setAttribute('required','')

        }else{
            document.getElementById("practical").style.display="none"
            document.getElementById("mid_marks").removeAttribute('required')
        }
    })

    document.getElementById("checkbox_2").addEventListener("click",()=>{

        if(practical.checked==true){
            document.getElementById("mid").style.display="block"
            document.getElementById("mid_marks").setAttribute('required','')
        }else{
            document.getElementById("mid").style.display="none"
            document.getElementById("mid_marks").removeAttribute('required')
        }
    })


    
form=document.querySelector("form")
form.addEventListener("submit",async(e)=>{
  e.preventDefault()
subjectcode=document.getElementById("subjectcode").value
subjectname=document.getElementById("subjectname").value
sem=document.getElementById("sem").value
institute_code=document.getElementById("institute_code").value
program_code=document.getElementById("program_code").value
csrf=document.getElementsByName("csrfmiddlewaretoken")[0].value

newform=new FormData();
newform.append('subjectcode',subjectcode)
newform.append('subjectname',subjectname)
newform.append('sem',sem)
newform.append('institute_code',institute_code)
newform.append('program_code',program_code)

if(theory.checked==true){
    newform.append("theory_marks",document.getElementById("theory_marks").value)
    newform.append("theory","True")
}else{newform.append("theory_marks",0);newform.append("theory","False")}

if(practical.checked==true){
    newform.append("practical_marks",document.getElementById("practical_marks").value)
    newform.append("practical","True")
}else{ newform.append("practical_marks",0);newform.append("practical","False")}

if(mid.checked==true){
    newform.append("mid_marks",document.getElementById("mid_marks").value)
    newform.append("mid","True")
}else{newform.append("mid_marks",0);newform.append("mid","False")}

newform.append("csrfmiddlewaretoken",csrf)
try{
  let d=await fetch("{{ current_path }}/adminpage/doaddsubject/",{
  method:"POST",
  body:newform,    
})
x=await d.json()
if(x.status=="success"){alert("Institute Added Successfully")}else{alert("Something went wrong \n record not added")}
}catch{
  alert("Something went wrong \n record not added")
}
})



</script>

</body>
</html>