<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Admin</title>
</head>
<body>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">{{course.3}} <br> {{course.4}}</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><button class="nav-link active" id="clear" aria-current="page">Clear Selection</button></li>
      </ul>
    </header>
  </div> 

<div class="container">
<a href="addinstitute"><button class="btn btn-primary">Add New Institute</button></a>
<a href="findinstitute"><button class="btn btn-primary">Edit Institute Code</button></a>
<a href="addstudent"><button class="btn btn-primary">Add Student</button></a>
<a href="findstudent"><button class="btn btn-primary">Find Student</button></a>
<a href="addsubject"><button class="btn btn-primary">Add Subject</button></a>
<a href="viewsubject"><button class="btn btn-primary">View Subject</button></a>
<a href="upgradepage"><button class="btn btn-primary">Upgrade Batch</button></a>
</div>


<script>
  document.getElementById("clear").addEventListener("click",()=>{
      const xhttp = new XMLHttpRequest();
    xhttp.open("GET", "clear", true);
    xhttp.send();
    setTimeout(function() { location.reload(); }, 500);
  })
  </script>
</body>
</html>