<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<title>Add New Institute</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


    <div class="container" style="width: 50%;margin-top:30px">
        <form action="{{ current_path }}/adminpage/doaddinstitute/" method="post">
            {% csrf_token %}
            {{ form }}
            
        <div class="form-group form-row">
          <label for="institute_code">Institute Code</label>
          <input type="number" class="form-control" name="institute_code" id="institute_code" placeholder="e.g. 004" required value="{{institute_code}}" >
        </div><br><br>
        
        <div class="form-group">
          <label for="institute_name">Institute Name</label>
          <input type="text" class="form-control" name="institute_name" id="institute_name" placeholder="e.g. LJ Institute of Computer Applications " required value="{{institute_name}}" >
        </div><br><br>

        <div class="form-group">
            <label for="program_code">Program Code</label>
            <input type="number" class="form-control" name="program_code" id="program_code" placeholder="e.g. 704" required value="{{program_code}}" >
        </div><br><br>

        <div class="form-group">
            <label for="degree_name">Degree Name</label>
            <input type="text" class="form-control" name="degree_name" id="degree_name" placeholder="e.g. LJ Institute of Computer Applications " required value="{{degree_name}}" >
          </div><br><br>

        <div class="form-group">
            <label for="program type">Program Type</label>
            <input type="number" class="form-control" name="program_type" id="program_type" placeholder="e.g. 5" required value="{{program_type}}" >
        </div><br><br>

        <div class="form-group">
            <label for="program_category">Program Category</label>
            <input type="text" class="form-control" name="program_category" id="program_category" placeholder="e.g. 5-Integrated Degree Programme " required value="{{program_category}}" >
          </div><br><br>

          <div class="form-group">
            <label for="branch_name">Branch Name  ( Optional )</label>
            <input type="text" class="form-control" name="branch_name" id="branch_name" placeholder="e.g. Information Technology" value="{{branch_name}}" >
          </div><br><br>

          <div class="form-group">
            <input type="submit" class="form-control" value="submit" >
          </div>

        </form>
    </div>

    <pre id="mess"></pre>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});

form=document.querySelector("form")
form.addEventListener("submit",async(e)=>{
  e.preventDefault()
uid="{{id}}"
institute_code=document.getElementById("institute_code").value
institute_name=document.getElementById("institute_name").value
program_code=document.getElementById("program_code").value
degree_name=document.getElementById("degree_name").value
program_type=document.getElementById("program_type").value
program_category=document.getElementById("program_category").value
branch_name=document.getElementById("branch_name").value
csrf=document.getElementsByName("csrfmiddlewaretoken")[0].value
console.log(csrf)
newform=new FormData();
newform.append("uid",uid)
newform.append("institute_code",institute_code)
newform.append("institute_name",institute_name)
newform.append("program_code",program_code)
newform.append("degree_name",degree_name)
newform.append("program_type",program_type)
newform.append("program_category",program_category)
newform.append("branch_name",branch_name)
newform.append("csrfmiddlewaretoken",csrf)
try{
  let d=await fetch("{{ current_path }}/adminpage/doeditinstitute/",{
  method:"POST",
  body:newform,    
})
x=await d.json()
if(x.status=="success"){alert("Institute Added Successfully");history.back()}else{alert("Something went wrong \n record not added")}
}catch{
  alert("Something went wrong \n record not added")
}
})

</script>
</body>
</html>
