<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>UPLOAD EXCEL</title>
</head>
<body>

    {% include "header.html" %}



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

<form method="POST">
  {% csrf_token %}
  {{ form }}

  <div class="form-group row">
    <label class="col-4">Select Fields To Add</label> 
    <div class="col-8">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="mainfield" id="checkbox_0" type="checkbox" aria-describedby="checkboxHelpBlock" class="custom-control-input" value="enrollment" checked="checked" disabled> 
        <label for="checkbox_0" class="custom-control-label">enrollment</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="mainfield" id="checkbox_1" type="checkbox" aria-describedby="checkboxHelpBlock" class="custom-control-input" value="name" checked="checked" disabled> 
        <label for="checkbox_1" class="custom-control-label">name</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="mainfield" id="checkbox_2" type="checkbox" aria-describedby="checkboxHelpBlock" class="custom-control-input" value="sem" checked="checked" disabled> 
        <label for="checkbox_2" class="custom-control-label">sem</label>
      </div>
      <div class="custom-control custom-checkbox custom-control-inline">
        <input name="mainfield" id="checkbox_3" type="checkbox" aria-describedby="checkboxHelpBlock" class="custom-control-input" value="phone" checked="checked" disabled> 
        <label for="checkbox_3" class="custom-control-label">phone</label>
      </div> 
      <span id="checkboxHelpBlock" class="form-text text-muted">Do not change the name of Excel's columns, let them remain the same as they are.</span>
    </div>
  </div> 

    <br><br><br>

  <div class="form-group row">
    <label class="col-4 col-form-label">Select More Fields To Add (Optional)</label> 
    <div class="col-8">
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_0" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="gender"> 
          <label for="other_field_0" class="custom-control-label">Gender</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_1" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="oldenrollment"> 
          <label for="other_field_1" class="custom-control-label">Old Enrollment Number</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_2" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="dob"> 
          <label for="other_field_2" class="custom-control-label">Date Of Birth</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_3" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="email"> 
          <label for="other_field_3" class="custom-control-label">Email ID</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_4" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="caste"> 
          <label for="other_field_4" class="custom-control-label">Caste (e.g. Hindu, Kshatriya)</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_5" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="subcast"> 
          <label for="other_field_5" class="custom-control-label">Sub-Caste</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_6" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="category"> 
          <label for="other_field_6" class="custom-control-label">Category (In Uppercase e.g. GENERAL, OBC , ST, SC)</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_7" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="parent_contact"> 
          <label for="other_field_7" class="custom-control-label">Parent Contact</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_8" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="emergency_contact"> 
          <label for="other_field_8" class="custom-control-label">Emergency Contact</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_9" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="userid"> 
          <label for="other_field_9" class="custom-control-label">User ID</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_10" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="address"> 
          <label for="other_field_10" class="custom-control-label">Address</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_11" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="aadhar"> 
          <label for="other_field_11" class="custom-control-label">Aadhar ID</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_12" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="finalsem"> 
          <label for="other_field_12" class="custom-control-label">Final Semister</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-checkbox">
          <input name="other_field" id="other_field_13" type="checkbox" aria-describedby="other_fieldHelpBlock" class="custom-control-input" value="termend"> 
          <label for="other_field_13" class="custom-control-label">Term End</label>
        </div>
      </div> 
      <span id="other_fieldHelpBlock" class="form-text text-muted">Do not change the name of Excel's columns, let them remain the same as they are.</span>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

<center>
  <div class="container">
    <form action="{{ current_path }}/adminpage/uploadexcel/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group row">
        <label for="excel" class="col-4 col-form-label">Upload Excel</label> 
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa "></i>
              </div>
            </div> 
            <input id="excel" name="excel_file" type="file" class="form-control" aria-describedby="excelHelpBlock">
          </div> 
          <span id="excelHelpBlock" class="form-text text-muted">Upload Excel Above</span>
        </div>
      </div> 
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>




<script>
  form=document.querySelector("form")
    form.addEventListener("submit",async(e)=>{
    result=[]
      e.preventDefault()  
    csrf=document.getElementsByName("csrfmiddlewaretoken")[0].value
    newform=new FormData();

    
    var checkboxes = document.getElementsByName('mainfield');
    var checkboxes1 = document.getElementsByName('other_field');
    
    
              for (var i = 0; i < checkboxes.length; i++) {
                  if (checkboxes[i].checked) {
                      // result.app checkboxes[i].value 
                      result.push(checkboxes[i].value)
                      newform.append(checkboxes[i].value,checkboxes[i].value);
  
                  }
              }
              for (var i = 0; i < checkboxes1.length; i++) {
                  if (checkboxes1[i].checked) {
                      // result.app checkboxes[i].value 
                      result.push(checkboxes1[i].value)
                      newform.append(checkboxes1[i].value,checkboxes1[i].value);
  
                  }
              }

    newform.append("csrfmiddlewaretoken",csrf)
    
    try{
      let d=await fetch("{{ current_path }}/adminpage/generateexcel/",{
      method:"POST",
      body:newform,  
    })

    }catch{
      alert("Something went wrong \n record not added")
    }  
    setTimeout(function() { window.location.href= "{{ current_path }}/adminpage/downloadexcel/"; ; }, 1000);
       
    })

  </script>
  


</body>
</html>