<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Edit Institute</title>
</head>
<body>
  {% include "header.html" %}   


    
   
<div class="container">
  <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Subject Code..">

  <table id="myTable">
    <tr class="header">
      
      <td>Subject Code</td>
      <td>Sem</td>
      <td>Subject Name</td>
      <td>Theory</td>
      <td>Practical</td>
      <td>Mid</td>
      <td>Action</td>
      </tr>      
  

    {% for i in subjectlist %}
    <tr>
      <td>{{i.subjectcode}}</td>
      <td>{{i.sem}}</td>
      <td>{{i.subjectname}}</td>
      {%if i.theory %}
      <td>{{i.theory_marks}}</td>
      {%else%}
      <td>NA</td>
      {%endif%}

      {%if i.practical %}
      <td>{{i.practical_marks}}</td>
      {%else%}
      <td>NA</td>
      {%endif%}

      {%if i.mid %}
      <td>{{i.mid_marks}}</td>
      {%else%}
      <td>NA</td>
      {%endif%}
      <td>
        <form action="{{ current_path }}/adminpage/editsubject/" method="post">{% csrf_token %}
          <input type="number" name="subjectcode" value="{{i.subjectcode}}" style="display: none;">
          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </td>
    </tr>
    
    {%endfor%}
  </table>

</div>




<style>
  #myInput {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 30%; 
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;

}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

<script>


function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>