<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Upgrade Batch</title>
</head>
<body>

  {% include "header.html" %}   



    <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 80%;">

        <div class="card">
            <h5 class="card-header">Generate Seating Arrangenments Excel</h5>
    
    
            <div class="row" style="padding: 30px;">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        
                        <div class="card-body"><br>
                          <p class="card-text">Institute Code : {{institute}}</p>
                          <p class="card-text">Program Code : {{program}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {%for b in batchlist%}
                          <li class="list-group-item">20{{b.0}} ->  Sem : {{b.1}}</li>
                          {%endfor%}

                        </ul>
                        
                      </div>
                </div>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <form action="" method="post">{% csrf_token %}
                        <div class="form-group row">
                            <label for="batch" class="col-4 col-form-label">Select Batch</label> 
                            <div class="col-8">
                              <select id="batch" name="batch" class="custom-select" required="required">
                                {%for b in batchlist%}
                                <option value="{{b.0}}">20{{b.0}}</option>
                                {%endfor%}

                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="sem" class="col-4 col-form-label">Enter Semister To Change</label> 
                            <div class="col-8">
                              <input id="sem" name="sem" placeholder="e.g. 1" type="number" class="form-control" required="required">
                            </div>
                          </div> 
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div><br>


                </div>

          </div>
          </div>

   

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<script>
    form=document.querySelector("form")
form.addEventListener("submit",async(e)=>{
  e.preventDefault()
sem=document.getElementById("sem").value
batch=document.getElementById("batch").value
csrf=document.getElementsByName("csrfmiddlewaretoken")[0].value
console.log(csrf)
newform=new FormData();
newform.append("institute_code","{{institute}}")
newform.append("program_code","{{program}}")
newform.append("sem",sem)
newform.append("batch",batch)
newform.append("csrfmiddlewaretoken",csrf)
try{
  let d=await fetch("{{ current_path }}/adminpage/upgradebatch/",{
  method:"POST",
  body:newform,    
})
x=await d.json()
if(x.status=="success"){alert("Institute Added Successfully");location.reload()}else{alert("Something went wrong \n record not added")}
}catch{
  alert("Something went wrong \n record not added")
}
})
</script>


</body>
</html>