<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

        
                <li>
                    <a href="{% url 'Student-dashboard' %}" class="waves-effect">
                        <i class="ri-dashboard-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
              
                <li>
                    <a href="{% url 'Student-profile' %}" class="waves-effect">
                        <i class="ri-user-3-line"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="" class="waves-effect">
                        <i class="ri-find-replace-line"></i>
                        <span>View Marks</span>
                    </a>
                </li>
                

                 

                
          

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->