{% extends 'FacultyPartials/layout.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block HeaderCss %}
<link href="{%static 'assets/libs/admin-resources/rwd-table/rwd-table.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />  -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />  -->

{% endblock HeaderCss %}

{% block BottomJs %}
<script src="{%static 'assets/libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/jszip/jszip.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-select/js/dataTables.select.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/js/pages/datatables.init.js'%}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock BottomJs %}



{% block breadcrumb %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Profile </h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Faculty</a></li>
                    <li class="breadcrumb-item active">Profile </li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock breadcrumb %}


{% block body %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="container rounded bg-white mt-6">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded-circle mt-5" src="http://surl.li/ngyom" width="200"><span class="font-weight-bold">John Doe</span><span class="text-black-50">john_doe12@bbb.com</span></div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                           
                        </div>
                      
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><span class="form-control">John</span></div>
                        <div class="col-md-6"><span class="form-control">Doe</span></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><span class="form-control">john_doe12@bbb.com</span></div>
                        <div class="col-md-6"><span class="form-control">+19685969668</span></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><span class="form-control">D-113, right avenue block, sarkhej, Ahmedabad </span></div>
                        
                    </div>
                  
                    <div class="mt-5 text-right"><a class="btn btn-primary profile-button" href="/Faculty-edit-profile" >Edit Profile</a></div>
                </div>
            </div>
        </div>
    </div>
             
            </div>
        </div>
    </div> <!-- end col -->
</div> 



{% endblock body %}


