<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

        
                <li>
                    <a href="{% url 'Superadmin-dashboard' %}" class="waves-effect">
                        <i class="ri-dashboard-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'Superadmin-profile' %}" class="waves-effect">
                        <i class="ri-user-3-line"></i>
                        <span>Profile</span>
                    </a>
                </li>


                <li> <a href="{% url 'Superadmin-branch' %}" class=" waves-effect">
                        <i class=" ri-git-branch-line"></i>
                        <span>Branch</span>
                    </a>
                </li>

                <li> <a href="{% url 'Superadmin-course' %}" class=" waves-effect">
                        <i class="ri-book-line"></i>
                        <span>Course</span>
                    </a>
                </li>

                <li> <a href="{% url 'Superadmin-admins' %}" class=" waves-effect">
                        <i class=" ri-shield-user-line"></i>
                        <span>Admins</span>
                    </a>
                </li>
                
                <li class="d-none">
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'Superadmin-inbox' %}">Inbox</a></li>
                        <li><a href="{% url 'Superadmin-read' %}">Read_Email</a></li>
                    </ul>
                </li>

                
                <li class="d-none"> <a href="{% url 'Superadmin-calendar' %}" class=" waves-effect " >
                        <i class="ri-calendar-2-line"></i>
                        <span>Calendar</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->