<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="{% url request.session.role|add:'-dashboard' %}" class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url request.session.role|add:'-calendar' %}" class="waves-effect">
                        <i class="ri-calendar-2-line"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href="{% url request.session.role|add:'-branch' %}" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Branch</span>
                    </a>
                </li>

                <li>
                    <a href="{% url request.session.role|add:'-course' %}" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Course</span>
                    </a>
                </li>

                <li>
                    <a href="{% url request.session.role|add:'-admins' %}" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Admins</span>
                    </a>
                </li>
                
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url request.session.role|add:'-inbox' %}">Inbox</a></li>
                        <li><a href="{% url request.session.role|add:'-read' %}">Read_Email</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->