<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Dashboard</title>
</head>
<body>


    <div class="container">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br><br>
<form action="{{ current_path }}/seat/seatoption/" method="post">{% csrf_token %}
  <div class="form-group row">
    <label for="subjectcode" class="col-4 col-form-label">Select Subject Code</label> 
    <div class="col-8">
      <select id="subjectcode" name="subjectcode" class="custom-select" required="required">
        {%for d in subjectlist%}
        <option value="{{d.subjectcode}}">{{d.subjectcode}}  &nbsp;{{d.subjectname}}</option>
        {%endfor%}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="year" class="col-4 col-form-label">Enter Exam Year</label> 
    <div class="col-8">
      <input id="year" name="year" placeholder="e.g. 2021" type="text" class="form-control" aria-describedby="yearHelpBlock"> 
      <span id="yearHelpBlock" class="form-text text-muted">Format In YYYY format</span>
    </div>
  </div> 
  <div class="form-group row">
    <label class="col-4 col-form-label">Select Session</label> 
    <div class="col-8">
      <div class="custom-controls-stacked">
        <div class="custom-control custom-radio">
          <input name="session" id="radio_0" type="radio" required="required" class="custom-control-input" value="S"> 
          <label for="radio_0" class="custom-control-label">S - Summer</label>
        </div>
      </div>
      <div class="custom-controls-stacked">
        <div class="custom-control custom-radio">
          <input name="session" id="radio_1" type="radio" required="required" class="custom-control-input" value="W" checked="checked"> 
          <label for="radio_1" class="custom-control-label">W - Winter</label>
        </div>
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
    </div>


    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>