{% extends 'Partials/layout.html' %}
{% load static %}
{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block HeaderCss %}
<link href="{%static 'assets/libs/admin-resources/rwd-table/rwd-table.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static '/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css'%}" rel="stylesheet" type="text/css" /> 

{% endblock HeaderCss %}

{% block BottomJs %}
<script src="{%static 'assets/libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/libs/jszip/jszip.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{%static 'assets/libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-select/js/dataTables.select.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{%static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{%static 'assets/js/pages/datatables.init.js'%}"></script>
{% endblock BottomJs %}


{% block breadcrumb %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Admins <a href="{% url request.session.role|add:'-add-admins' %}" class="btn btn-success">Add New Admin</a></h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Superadmin</a></li>
                    <li class="breadcrumb-item active">All Admins</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock breadcrumb %}


{% block body %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable-buttons" class="mt-lg-5 table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0;margin-top:40px; width: 100%;">
                    <thead class="mt-5">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Branch</th>
                        <th></th>
                    </tr>
                    </thead>


                    <tbody>

                    {% for key, d in data.items %}

                         <tr>
                            <td><strong>{{ d.fname }}</strong></td>
                            <td>{{ d.lname }}</td>
                            <td>{{ d.email }}</td>
                            <td>{{ d.phone }}</td>
                            <td>{{ d.branch }}</td>
                            <td>
                                <div class="btn-group mr-1 mt-2">
                                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <i class="mdi mdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">View Logs</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 

{% endblock body %}






